
@{
    Layout="_AdminLayout";
}

<h1>Excel Raporlar覺</h1>
<br/>
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporlar覺</a>
<br/><br/>
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Tur Rotalar覺 Excel Raporlar覺</a>
